
.blog-img {
    width: 100%;
    height: auto;
}


.form-details {
    background-color: #fff;
    padding: 20px;
    margin-right: 30px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contact-form {
    margin: 0 auto;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 15px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

textarea {
    height: 100px;
}


.items {
    padding: 10px;
}

.items li {
    list-style: none;
}

.items a {
    color: #888;
    text-decoration: none;
    transition: color 0.2s;
    transform: scale(1);
}


.items a:hover {
    transform: scale(1.02);;
}
